useDynLib(rmake, .registration = TRUE)

#
# exports
#

export(rmake)
export(rmake_path_dependencies)

export(path_in, path_out)


#
# imports
#


import(dreamerr)
import(stringmagic)

importFrom(Rcpp, evalCpp)
